* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ================
  Common CSS
===================*/
.sec-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

/* =============
  Navbar Styles
 ===============*/
nav {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.navbar {
  padding: 1rem 2rem;
}
.brand {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.btn {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  text-decoration: none;
}
.btn > i {
  margin-left: 8px;
}

/* =============
  Hero Styles
 ===============*/
.hero-wrapper {
  padding-top: 4rem;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-left-part {
  padding-right: 2rem;
}
.hero-title {
  font-size: 50px;
  color: #3a3a3a;
  font-weight: 700;
}
.hero-subtitle {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  padding-right: 4rem;
  margin-bottom: 25px;
}
.hero-btn {
  transition: all 0.3s ease-in;
}
.hero-btn:hover {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}
.hero-right-part > img {
  width: 440px;
  height: 414px;
  animation: moving 5s linear infinite alternate-reverse;
}

@keyframes moving {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(10px, -10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}

/* ==========================
  Popular collection Styles
 ============================*/
.collection-wrapper {
  padding: 5rem 2rem;
}
.sec-title {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.collection {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.collection > img {
  width: 100%;
  border-radius: 5px;
}
.collection-title {
  font-size: 24px;
  font-weight: 600;
  color: #18191f;
  margin: 10px 0 5px 0;
  text-transform: capitalize;
}
.collection-price {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
}
.collection-rating {
  font-size: 12px;
  font-weight: 400;
  color: #5e6366;
  margin-bottom: 10px;
}
.collection-rating > i {
  color: #fb8200;
}
.collection-info {
  font-size: 13px;
  color: #787885;
  font-weight: 700;
  margin-bottom: 2px;
  line-height: 14px;
}
.collection-btn {
  background-color: transparent;
  color: #e02c6d;
  text-transform: capitalize;
  font-size: 16px;
  display: block;
  text-align: right;
  padding: 0;
  margin-top: 50px;
}

/* ==================
  Call-out Styles
 ====================*/
.call-out-wrapper {
  background-color: #d6d6d6;
  margin-bottom: 5rem;
  padding: 2rem 0;
}
.call-out-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.callout-text {
  font-size: 35px;
  color: #e02c6d;
  letter-spacing: 1px;
  line-height: 39px;
}
.callout-form form {
  display: flex;
  justify-content: flex-end;
}
.callout-form input {
  border: 1px solid #e02c6d;
  border-right: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  width: 65%;
  background-color: transparent;
}

.callout-btn {
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  padding: 7px 15px;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: 400;
}
.callout-btn:hover {
  background-color: transparent;
  color: #e02c6d;
  border: 1px solid #e02c6d;
}
/* ==================
  Footer Styles
 ====================*/
.footer {
  background-color: #0a0826;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
}
.footer-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  margin-bottom: 3px;
}
.footer-cpy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ebebeb;
}
.footer-social-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  list-style: none;
}
.footer-social-menu li a {
  display: inline-block;
  margin-right: 24px;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s linear;
}
.footer-social-menu li:hover a {
  color: #e02c6d;
}
.footer-social-menu li:last-child a {
  margin-right: 0;
}

/* ===========================
    Tablet Media Queries
==============================*/

@media (max-width: 768px) {
  .hero-title {
    font-size: 30px;
  }
  .hero-subtitle {
    font-size: 13px;
  }
  .hero-right-part > img {
    width: 100%;
    height: auto;
  }
  .btn {
    font-size: 13px;
  }
  .collection-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .callout-text {
    font-size: 25px;
    line-height: 28px;
  }
}

@media screen and (max-width: 660px) {
  .call-out-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .callout-form {
    width: 60%;
    margin-top: 20px;
  }

  .callout-form > form {
    justify-content: center;
  }
}

/* ===========================
    Mobile Media Queries
==============================*/
@media (max-width: 544px) {
  .navbar {
    text-align: center;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-left-part {
    order: 2;
    margin-top: 30px;
    padding: 0;
  }
  .hero-right-part {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-right-part > img {
    width: 60%;
  }
  .collection-container {
    grid-template-columns: 1fr;
  }
  .callout-form {
    width: 100%;
  }
}
