* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ================
  Common CSS
===================*/
.sec-wrapper {
  width: 100%;
  max-width: 1200px;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  margin: 0 auto;
}

/* =============
  Navbar Styles
 ===============*/
nav {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.navbar {
  padding: 1rem 0;
}
.brand {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.btn {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  text-decoration: none;
}
.btn > i {
  margin-left: 8px;
}

/* =============
  Hero Styles
 ===============*/
.hero-wrapper {
  padding-top: 4rem;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-left-part {
  padding-right: 5rem;
}
.hero-title {
  font-size: 50px;
  color: #3a3a3a;
  font-weight: 700;
}
.hero-subtitle {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 25px;
}
.hero-btn {
  transition: all 0.3s ease-in;
}
.hero-btn:hover {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}
.hero-right-part {
  width: 440px;
  height: 414px;
}
.hero-right-part > img {
  width: 100%;
  animation: moving 3s linear infinite alternate-reverse;
}

@keyframes moving {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(10px, -10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}

/* ==========================
  Popular collection Styles
 ============================*/
.collection-wrapper {
  padding: 5rem 0;
}
.sec-title {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.collection {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.collection > img {
  /* width: 300px;
  height: 256px; */
  width: 100%;
  border-radius: 5px;
}
.collection-title {
  font-size: 24px;
  font-weight: 600;
  color: #18191f;
  margin: 10px 0 5px 0;
  text-transform: capitalize;
}
.collection-price {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
}
.collection-rating {
  font-size: 12px;
  font-weight: 400;
  color: #5e6366;
  margin-bottom: 10px;
}
.collection-rating > i {
  color: #fb8200;
}
.collection-info {
  font-size: 13px;
  color: #787885;
  font-weight: 700;
  margin-bottom: 2px;
  line-height: 14px;
}
.collection-btn {
  background-color: transparent;
  color: #e02c6d;
  text-transform: capitalize;
  font-size: 16px;
  display: block;
  text-align: right;
  padding: 0;
  margin-top: 50px;
}

/* ==================
  Footer Styles
 ====================*/
.footer {
  background-color: #0a0826;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
}
.footer-logo {
  font-weight: 700;
  font-style: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  margin-bottom: 3px;
}
.footer-cpy-text {
  font-weight: 400;
  font-style: 14px;
  line-height: 24px;
  color: #ebebeb;
}
.footer-social-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  list-style: none;
}
.footer-social-menu li a {
  display: inline-block;
  margin-right: 24px;
  color: #fff;
  font-size: 18px;
}
.footer-social-menu li:last-child a {
  margin-right: 0;
}
